.ui-select-01 {
  background: var(--ui-component-card-background);
  padding: var(--ui-component-card-padding);
  border-radius: var(--ui-component-card-radius);
  box-shadow: var(--ui-component-card-shadow);
  color: var(--ui-neutral-600);
}

.ui-select-01__component-head {
  /* text-align: center */
}

.ui-select-01__heading {
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  margin-bottom: 8px;
}

.ui-select-01__paragraph {
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: var(--ui-neutral-400);
  margin: 0;
}

.ui-select-01__options-container {
  display: flex;
  flex-wrap: wrap;
  --ui-select-01__options-container--margin-end: 24px;
  width: calc(100% + var(--ui-select-01__options-container--margin-end));
  margin-right: calc(-1 * var(--ui-select-01__options-container--margin-end));
}

.ui-select-01__option {
  flex: 0 0 auto;
  width: calc(calc(100% / 3) - var(--ui-select-01__options-container--margin-end));
  margin-right: var(--ui-select-01__options-container--margin-end);
  margin-top: var(--ui-select-01__options-container--margin-end);
  display: flex;
  position: relative;
}

.ui-select-01__option:nth-child(3n+0) {
  margin-right: 0;
}

.ui-select-01__radio-card {
  width: 100%;
  padding: 18px 26px 25px 26px;
  border: 1px solid var(--ui-neutral-300);
  border-radius: 5px;
  transition: .2s all;
}

.ui-select-01__option__radio {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.ui-select-01__option__radio:checked ~ .ui-select-01__radio-card {
  border-color: var(--ui-primary-200);
}

.ui-select-01__radio-heading {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  transition: .2s all;
}

.ui-select-01__option__radio:checked ~ .ui-select-01__radio-card .ui-select-01__radio-heading {
  color: var(--ui-primary-200);
}

.ui-select-01__radio-paragraph {
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: var(--ui-neutral-400);
}

.ui-select-01__radio-image-container {
  margin-top: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui-select-01__radio-image {
  max-height: 137px;
  width: auto;
  margin: auto;
}

.ui-select-01__check-circle {
  color: var(--ui-primary-200);
  position: absolute;
  right: 26.6px;
  top: 20.6px;
  opacity: 0;
  visibility: hidden;
  transition: .2s all;
}

.ui-select-01__option__radio:checked ~ .ui-select-01__radio-card .ui-select-01__check-circle {
  opacity: 1;
  visibility: visible;
}

.ui-select-01__check-circle {
  width: 18px;
  height: 18px;
}
