<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../../normalization.css">
  <link rel="stylesheet" href="../../root.css">
  <link rel="stylesheet" href="./app.css">

  <style>
    .webappui-component-wrapper {
      max-width: 854px;
      margin: 100px auto;
    }
  </style>
  <title>Component 01</title>
</head>

<body>

  <div class="webappui-component-wrapper">
    <div class="ui-select-01">
      <h2 class="ui-select-01__heading">
        What sort of project would you like developed?
      </h2>
      <p class="ui-select-01__paragraph">
        Choose what you want to create today.
      </p>
      <div class="ui-select-01__options-container">
        <div class="ui-select-01__option">
          <input checked name="ui-select-01" type="radio" class="ui-select-01__option__radio">
          <div class="ui-select-01__radio-card">
            <h4 class="ui-select-01__radio-heading">
              Mobile Application
            </h4>
            <p class="ui-select-01__radio-paragraph">
              Build the full UI for your app.
            </p>
            <div class="ui-select-01__radio-image-container">
              <img src="../../images/P1.png" class="ui-select-01__radio-image">
            </div>
            <svg class="ui-select-01__check-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
              fill="currentColor">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path
                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm4.59-12.42L10 14.17l-2.59-2.58L6 13l4 4 8-8z" />
            </svg>
          </div>
        </div>
        <div class="ui-select-01__option">
          <input name="ui-select-01" type="radio" class="ui-select-01__option__radio">
          <div class="ui-select-01__radio-card">
            <h4 class="ui-select-01__radio-heading">
              Web Application
            </h4>
            <p class="ui-select-01__radio-paragraph">
              Build the full UI for your app.
            </p>
            <div class="ui-select-01__radio-image-container">
              <img src="../../images/P2.png" class="ui-select-01__radio-image">
            </div>
            <svg class="ui-select-01__check-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
              fill="currentColor">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path
                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm4.59-12.42L10 14.17l-2.59-2.58L6 13l4 4 8-8z" />
            </svg>
          </div>
        </div>
        <div class="ui-select-01__option">
          <input name="ui-select-01" type="radio" class="ui-select-01__option__radio">
          <div class="ui-select-01__radio-card">
            <h4 class="ui-select-01__radio-heading">
              Landing Pages
            </h4>
            <p class="ui-select-01__radio-paragraph">
              Build the full UI for your app.
            </p>
            <div class="ui-select-01__radio-image-container">
              <img src="../../images/P3.png" class="ui-select-01__radio-image">
            </div>
            <svg class="ui-select-01__check-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
              fill="currentColor">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path
                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm4.59-12.42L10 14.17l-2.59-2.58L6 13l4 4 8-8z" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>