.ui-action-toast {
  position: fixed;
  --ui-action-toast__margin: 30px;
  bottom: var(--ui-action-toast__margin);
  left: var(--ui-action-toast__margin);
  background: var(--ui-white);
  box-shadow: var(--ui-shadow-300);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  animation: uiShowActionToastAnimation .7s;
}

@keyframes uiShowActionToastAnimation {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(70%);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.ui-action-toast--close {
  pointer-events: none;
  animation: uiCloseActionToastAnimation .7s;
}

@keyframes uiCloseActionToastAnimation {
  from {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    visibility: hidden;
    transform: translateY(30%);
  }
}

@media(min-width: 420px) {
  .ui-action-toast {
    min-width: 400px;
    width: auto;
  }
}

.ui-action-toast--bottom-right {
  top: auto;
  left: auto;
  right: var(--ui-action-toast__margin);
}

.ui-action-toast--top-right {
  bottom: auto;
  top: var(--ui-action-toast__margin);
  left: auto;
  right: var(--ui-action-toast__margin);
}

.ui-action-toast--top-right {
  bottom: auto;
  top: var(--ui-action-toast__margin);
}

.ui-action-toast__content-flex {
  display: flex;
  flex-direction: column;
  padding: 23px 24px;
  max-width: 350px;
  margin-right: 120px;
}

.ui-action-toast__headline {
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  margin-bottom: 8px;
}

.ui-action-toast__text {
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: var(--ui-neutral-400);
}

.ui-action-toast__actions-flex {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-left: 1px solid var(--ui-neutral-300);
}

.ui-action-toast__confirm-btn {
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  text-decoration: none;
  color: var(--ui-primary-200);
  cursor: pointer;
  transition: .2s all;
  background: none;
  padding: 0 20px;
  border: none;
  outline: none;
  box-shadow: none;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(50% - 1px); /* 1px: for the border bottom */
  border-bottom: 1px solid var(--ui-neutral-300);
}

.ui-action-toast__confirm-btn:hover,
.ui-action-toast__confirm-btn:focus {
  color: var(--ui-primary-300);
}

.ui-action-toast__cancel-btn {
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  text-decoration: none;
  color: var(--ui-neutral-400);
  cursor: pointer;
  transition: .2s all;
  background: none;
  padding: 0 20px;
  border: none;
  outline: none;
  box-shadow: none;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(50%);
}

.ui-action-toast__cancel-btn:hover,
.ui-action-toast__cancel-btn:focus {
  color: var(--ui-primary-500);
}