.tagify__dropdown__item.addAll {
  padding: 11px 17px;
}

.tagify__dropdown__item:first-child .ui-avatar-info__text-container {
  margin-left: 5px;
}

.tagify__dropdown__item {
  padding: 5.5px 17px;
  border-radius: 0;
}

.tagify__dropdown__item--active {
  background: var(--ui-neutral-100);
}

.tagify__dropdown {
  box-shadow: var(--ui-shadow-300);
  border-radius: 5px;
  border: none !important;
}

.tagify__dropdown[placement=top] {
  transform: translateY(calc(-100% - 8px));
}

.tagify__dropdown[placement=bottom] {
  transform: translateY(8px);
}

.tagify__dropdown__wrapper {
  border: none;
  padding: 0;
}

/* --------------------------------- */
/* Simple tags code----------------- */

/* TAGS INPUT */

.ui-form-item--people-tags,
.ui-form-item--people-tags .tagify {
  min-height: var(--ui-input--default-size--min-height);
}

.ui-form-item__input:focus {
  border-color: var(--ui-primary-200);
}

.ui-form-item--people-tags .tagify {
  align-items: center !important;
  padding: 6px 17px 0px 17px !important;
}

.ui-form-item--people-tags .tagify__tag {
  margin: 0 15px 6px 0 !important;
  background: transparent !important;
  color: var(--ui-neutral-400) !important;
  border-radius: 10rem;
}

.ui-form-item--people-tags .tagify__tag:last-of-type {
  margin-right: 0 !important;
}

.ui-form-item--people-tags .tagify__tag > div {
  padding: 0 !important;
}

.ui-form-item--people-tags .tagify__tag > div::before {
  display: none !important;
}

.ui-form-item--people-tags .tagify__input {
  margin: 0 0 8px 0!important;
  padding: 0px !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: 1.54 !important;
}

.ui-form-item--people-tags .tagify__tag:last-of-type ~ .tagify__input {
  padding: 0 10px !important;
}

.ui-form-item--people-tags.ui-form-item--select .tagify__tag:last-of-type ~ .tagify__input {
  padding: 0 !important;
}
