.ui-form-item--copy-to-clipboard .ui-form-item__input-icon-group .ui-form-item__input {
  padding: 11px 17px;
}

.ui-form-item__copy-btn {
  position: absolute;
  inset: 7.4px;
  left: auto;
  width: 29px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--ui-neutral-300);
  color: var(--ui-neutral-400);
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: .2s all;
}

.ui-form-item--copy-to-clipboard:focus-within .ui-form-item__copy-btn,
.ui-form-item__copy-btn:focus,
.ui-form-item__copy-btn:hover {
  color: var(--ui-primary-200__invert);
  background: var(--ui-primary-200);
}
