.ui-form-item--checkbox {
  flex-direction: row;
  flex-wrap: nowrap;
}

.ui-form-item--checkbox .ui-form-item__label {
  width: auto;
  margin: 0 0 0 11px;
  line-height: 1.17;
  cursor: pointer;
}

.ui-form-item--checkbox:focus-within .ui-form-item__label {
  color: var(--ui-neutral-400);
}

.ui-form-item__checkbox {
  display: inline-block;
  position: relative;
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
  width: 14px;
  height: 14px;
  cursor: pointer;
  z-index: 0;
}

.ui-form-item__checkbox::before {
  content: '';
  position: absolute;
  inset: -2px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 5px;
  border: solid 1px var(--ui-neutral-300);
  background-color: var(--ui-white);
  box-shadow: var(--ui-shadow-100);
  transition: .2s all;
}

.ui-form-item__checkbox__input {
  position: absolute;
  inset: 0;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.ui-form-item__checkbox__svg {
  position: absolute;
  inset: 0;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 5px;
  z-index: 1;
  transition: .2s all;
  opacity: 0;
}

.ui-form-item__checkbox__svg path:nth-child(1) {
  fill: var(--ui-primary-200);
}

.ui-form-item__checkbox__svg path:nth-child(2) {
  fill: var(--ui-primary-200__invert);
}

.ui-form-item__checkbox__input:checked ~ .ui-form-item__checkbox__svg {
  opacity: 1;
}
