.ui-form-item__select {
  width: 100%;
  border-radius: 5px;
  border: solid 1px var(--ui-neutral-300);
  background-color: var(--ui-white);
  color: inherit;
  padding: 11px 25px 11px 17px;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  outline: none;
  box-shadow: var(--ui-shadow-100);
  cursor: pointer;
  transition: .2s all;
}

.ui-form-item__select:focus {
  border-color: var(--ui-primary-200);
}

.ui-form-item__icon {
  position: absolute;
  inset: 1px;
  left: auto;
  color: var(--ui-neutral-400);
  background: var(--ui-white);
  padding: 11px 17px 11px 0;
  border-radius: 5px;
  color: inherit;
  pointer-events: none;
  line-height: 1.7;
  transition: .2s all;
}

.ui-form-item--select:focus-within .ui-form-item__icon {
  color: var(--ui-primary-200);
}