.ui-avatar {
  --ui-avatar__very-small__width-and-height: 30px;
  --ui-avatar__small__width-and-height: 37px;
  --ui-avatar__default__width-and-height: 48px;
  --ui-avatar__medium__width-and-height: 66px;
  --ui-avatar__large__width-and-height: 99px;

  --ui-avatar-border-width: 2px;
  --ui-avatar-border-color: var(--ui-white);
  --ui-avatar-shadow: var(--ui-shadow-300);
  --ui-avatar-radius: 10rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  --ui-avatar--width-and-height: var(--ui-avatar__default__width-and-height);
  width: var(--ui-avatar--width-and-height);
  height: var(--ui-avatar--width-and-height);
  box-shadow: var(--ui-avatar-shadow);
  border-radius: var(--ui-avatar-radius);
  border: solid var(--ui-avatar-border-width) var(--ui-avatar-border-color);
}

.ui-avatar--very-small {
  --ui-avatar--width-and-height: var(--ui-avatar__very-small__width-and-height);
}

.ui-avatar--small {
  --ui-avatar--width-and-height: var(--ui-avatar__small__width-and-height);
}

.ui-avatar--medium {
  --ui-avatar--width-and-height: var(--ui-avatar__medium__width-and-height);
}

.ui-avatar--large {
  --ui-avatar--width-and-height: var(--ui-avatar__large__width-and-height);
}

.ui-avatar__img {
  width: 100%;
  height: 100%;
  border-radius: var(--ui-avatar-radius);
}

.ui-avatar--offline {
  position: relative;
}

.ui-avatar--offline::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10rem;
  border: solid var(--ui-avatar-border-width) var(--ui-avatar-border-color);
  background-color: var(--ui-danger-200);
}

.ui-avatar.ui-avatar--offline::before {
  right: 0px;
  bottom: 0px;
  transform: scale(0.9);
}

.ui-avatar--very-small.ui-avatar--offline::before {
  right: -3px;
  bottom: -3px;
  transform: scale(0.7);
}

.ui-avatar--small.ui-avatar--offline::before {
  right: -2px;
  bottom: -2px;
  transform: scale(0.8);
}

.ui-avatar--medium.ui-avatar--offline::before {
  right: 3px;
  bottom: 2px;
  transform: scale(1);
}

.ui-avatar--large.ui-avatar--offline::before {
  right: 10px;
  bottom: 4px;
  transform: scale(1);
}

.ui-avatar--online {
  position: relative;
}

.ui-avatar--online::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10rem;
  border: solid var(--ui-avatar-border-width) var(--ui-avatar-border-color);
  background-color: var(--ui-success-100);
}

.ui-avatar.ui-avatar--online::before {
  right: 0px;
  bottom: 0px;
  transform: scale(0.9);
}

.ui-avatar--very-small.ui-avatar--online::before {
  right: -3px;
  bottom: -3px;
  transform: scale(0.7);
}

.ui-avatar--small.ui-avatar--online::before {
  right: -2px;
  bottom: -2px;
  transform: scale(0.8);
}

.ui-avatar--medium.ui-avatar--online::before {
  right: 3px;
  bottom: 2px;
  transform: scale(1);
}

.ui-avatar--large.ui-avatar--online::before {
  right: 10px;
  bottom: 4px;
  transform: scale(1);
}

.ui-avatar--edit {
  position: relative;
  cursor: pointer;
}

.ui-avatar--edit::before {
  content: '';
  position: absolute;
  inset: 0;
  background: transparent;
  width: 100%;
  height: 100%;
  border-radius: var(--ui-avatar-radius);
  transition: .2s all;
}

.ui-avatar--edit:hover::before {
  background: rgba(0, 0, 0, 0.3);
}

.ui-avatar__camera {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -4px;
  bottom: -4px;
  transform: scale(0.9);
  width: 24px;
  height: 24px;
  border-radius: 10rem;
  background-color: var(--ui-neutral-300);
  cursor: pointer;
}

.ui-avatar--very-small .ui-avatar__camera {
  bottom: -8px;
  right: -9px;
  transform: scale(0.6);
}

.ui-avatar--small .ui-avatar__camera {
  right: -7px;
  bottom: -7px;
  transform: scale(0.7);
}

.ui-avatar--medium .ui-avatar__camera {
  right: -2px;
  bottom: -2px;
  transform: scale(1);
}

.ui-avatar--large .ui-avatar__camera {
  right: 6px;
  bottom: 0;
  transform: scale(1);
}

.ui-avatar__file-input {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* AVATAR-INFO */

.ui-avatar-info {
  display: inline-flex;
  align-items: center;
}

.ui-avatar-info__text-container {
  display: flex;
  flex-direction: column;
  margin-left: 11px;
}

.ui-avatar-info__primary-text {
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: var(--ui-neutral-600);
}

.ui-avatar:not(.ui-avatar--small):not(.ui-avatar--very-small) ~ .ui-avatar-info__text-container .ui-avatar-info__primary-text {
  font-size: 15px;
}

.ui-avatar-info__secondary-text {
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: var(--ui-neutral-400);
  margin-top: 8px;
}

.ui-avatar--small ~ .ui-avatar-info__text-container .ui-avatar-info__secondary-text,
.ui-avatar--very-small ~ .ui-avatar-info__text-container .ui-avatar-info__secondary-text {
  font-size: 12px;
  margin-top: 0;
}
