.ui-form-input--tagging-users .tagify {
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.8);
}

/* Suggestions items */
.ui-form-input--tagging-users .tagify__dropdown.users-list {
  font-size: 14px;
}

.ui-form-input--tagging-users .tagify__dropdown.users-list .tagify__dropdown__item {
  padding: 0.5em 0.7em;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 1em;
  grid-template-areas: "avatar name" "avatar email";
}

.ui-form-input--tagging-users .tagify__dropdown.users-list .tagify__dropdown__item:hover .tagify__dropdown__item__avatar-wrap {
  transform: scale(1.2);
}

.ui-form-input--tagging-users .tagify__dropdown.users-list .tagify__dropdown__item__avatar-wrap {
  grid-area: avatar;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  background: #EEE;
  transition: 0.1s ease-out;
}

.ui-form-input--tagging-users .tagify__dropdown.users-list img {
  width: 100%;
  vertical-align: top;
}

.ui-form-input--tagging-users .tagify__dropdown.users-list strong {
  grid-area: name;
  width: 100%;
  align-self: center;
  font-weight: 500;
}

.ui-form-input--tagging-users .tagify__dropdown.users-list span {
  grid-area: email;
  width: 100%;
  font-size: 0.9em;
  opacity: 0.6;
}

.ui-form-input--tagging-users .tagify__dropdown.users-list .addAll {
  border-bottom: 1px solid #DDD;
  gap: 0;
}

/* Tags items */
.ui-form-input--tagging-users .tagify__tag {
  white-space: nowrap;
}

.ui-form-input--tagging-users .tagify__tag:hover .tagify__tag__avatar-wrap {
  transform: scale(1.6) translateX(-10%);
}

.ui-form-input--tagging-users .tagify__tag .tagify__tag__avatar-wrap {
  width: 16px;
  height: 16px;
  white-space: normal;
  background: silver;
  border-radius: 50%;
  margin-right: 5px;
  transition: 0.12s ease-out;
}

.ui-form-input--tagging-users .tagify__tag img {
  width: 100%;
  vertical-align: top;
}
