
@import './--form-item--inputs.css';
@import './--form-item--tags-input.css';
@import './--form-item--people-tags.css';
@import './--form-item--telephone-input.css';
@import './--form-item--select.css';
@import './--form-item--country-select.css';
@import './--form-item--copy-to-clipboard-inputs.css';
@import './--form-item--switch.css';
@import './--form-item-container.css';
@import './--form-item--checkbox-and-radio.css';

.ui-form-item:not(.ui-form-item--switch):not(.ui-form-item--checkbox) {
  width: 300px;
}

.ui-form-item.ui-form-item--people-tags {
  width: 600px;
}

.ui-form-item--select {
  width: 300px;
}
