.tagify__dropdown__item.addAll {
  padding: 11px 17px;
}

.tagify__dropdown__item:first-child .ui-avatar-info__text-container {
  margin-left: 5px;
}

.tagify__dropdown__item {
  padding: 5.5px 17px;
  border-radius: 0;
}

.tagify__dropdown__item--active {
  background: var(--ui-neutral-100);
}

.tagify__dropdown {
  box-shadow: var(--ui-shadow-300);
  border-radius: 5px;
  border: none !important;
}

.tagify__dropdown[placement=top] {
  transform: translateY(calc(-100% - 8px));
}

.tagify__dropdown[placement=bottom] {
  transform: translateY(8px);
}

.tagify__dropdown__wrapper {
  border: none;
  padding: 0;
}
