/* SETTING A DEFAULT WIDTH */
.ui-simple-select,
.ui-small-label-select,
.ui-simple-input,
.ui-normal-label-input,
.ui-small-label-input,
.ui-simple-tel-input,
.ui-country-select,
.ui-copy-input {
  width: 300px;
}

/* 5. INPUTS */

/* 5.1 SIMPLE-INPUT */

.ui-simple-input {
  display: inline-flex;
  flex-wrap: wrap;
}

.ui-simple-input__input {
  width: 100%;
  border-radius: 5px;
  border: solid 1px var(--ui-neutral-300);
  background-color: var(--ui-white);
  color: inherit;
  padding: 11px 17px;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  outline: none;
  box-shadow: var(--ui-shadow-100);
  transition: .2s all;
}

.ui-simple-input__input:focus {
  border-color: var(--ui-primary-200);
}

.ui-simple-input__input::placeholder, /* Chrome, Firefox, Opera, Safari 10.1+ */
.ui-simple-input__input:-ms-input-placeholder, /* Internet Explorer 10-11 */
.ui-simple-input__input::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--ui-neutral-400);
}

/* 5.2 SMALL-LABEL-INPUT */

.ui-small-label-input {
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
}

.ui-small-label-input__input {
  width: 100%;
  border-radius: 5px;
  border: solid 1px var(--ui-neutral-300);
  background-color: var(--ui-white);
  color: inherit;
  padding: 11px 17px;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  outline: none;
  box-shadow: var(--ui-shadow-100);
  transition: .2s all;
}

.ui-small-label-input__input:focus {
  border-color: var(--ui-primary-200);
}

.ui-small-label-input__input::placeholder, /* Chrome, Firefox, Opera, Safari 10.1+ */
.ui-small-label-input__input:-ms-input-placeholder, /* Internet Explorer 10-11 */
.ui-small-label-input__input::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--ui-neutral-400);
}

.ui-small-label-input__label {
  position: absolute;
  left: 17px;
  top: -8px;
  color: var(--ui-neutral-400);
  background: var(--ui-white);
  padding: 0 3px;
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  transition: .2s all;
  z-index: 1;
}

.ui-small-label-input:focus-within .ui-small-label-input__label {
  color: var(--ui-primary-200);
}

/* 5.3 SMALL-LABEL-INPUT */

.ui-normal-label-input {
  display: inline-flex;
  flex-wrap: wrap;
}

.ui-normal-label-input__input {
  width: 100%;
  border-radius: 5px;
  border: solid 1px var(--ui-neutral-300);
  background-color: var(--ui-white);
  color: inherit;
  padding: 11px 17px;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  outline: none;
  box-shadow: var(--ui-shadow-100);
  transition: .2s all;
}

.ui-normal-label-input__input:focus {
  border-color: var(--ui-primary-200);
}

.ui-normal-label-input__input::placeholder, /* Chrome, Firefox, Opera, Safari 10.1+ */
.ui-normal-label-input__input:-ms-input-placeholder, /* Internet Explorer 10-11 */
.ui-normal-label-input__input::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--ui-neutral-400);
}

.ui-normal-label-input__label {
  width: 100%;
  color: var(--ui-neutral-400);
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  margin-bottom: 8px;
  transition: .2s all;
}

.ui-normal-label-input:focus-within .ui-normal-label-input__label {
  color: var(--ui-primary-200);
}

/* 5.4 TELEPHONE-INPUT */

.ui-simple-tel-input {
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
}


.ui-simple-tel-input .iti--allow-dropdown:not(.iti--separate-dial-code) .ui-simple-tel-input__input {
  padding-left: 65px !important;
}

.ui-simple-tel-input__input {
  width: 100%;
  border-radius: 5px;
  border: solid 1px var(--ui-neutral-300);
  background-color: var(--ui-white);
  color: inherit;
  padding-top: 11px !important;
  padding-bottom: 11px !important;
  padding-right: 17px !important;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  outline: none;
  box-shadow: var(--ui-shadow-100);
  transition: .2s all;
}

.ui-simple-tel-input:focus-within .ui-simple-tel-input__input,
.ui-simple-tel-input__input:focus {
  border-color: var(--ui-primary-200);
}

.ui-simple-tel-input__input::placeholder, /* Chrome, Firefox, Opera, Safari 10.1+ */
.ui-simple-tel-input__input:-ms-input-placeholder, /* Internet Explorer 10-11 */
.ui-simple-tel-input__input::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--ui-neutral-400);
}

.ui-simple-tel-input .iti {
  width: 100%;
}

.ui-simple-tel-input .iti__selected-flag {
  padding-left: 17px;
}

.ui-simple-tel-input .iti__arrow {
  margin-left: 8px;
  border-top: 4px solid var(--ui-neutral-500);
  transition: .2s all;
}

.ui-simple-tel-input .iti__arrow--up {
  border-bottom: none;
  transform: rotate(-180deg);
}

.ui-simple-tel-input .iti--separate-dial-code .iti__selected-flag,
.ui-simple-tel-input .iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
  background: transparent;
  font-size: 13px;
  font-weight: 500;
  color: var(--ui-neutral-400);
}

.ui-simple-tel-input .iti__country-list {
  box-shadow: var(--ui-shadow-300);
  border: 1px solid var(--ui-neutral-300);
  border-radius: 5px;
  margin-top: 6px;
  transform-origin: top left;
  display: block !important;
  visibility: visible;
  opacity: 1;
  transition: .3s all;
}

.ui-simple-tel-input .iti__hide {
  visibility: hidden;
  opacity: 0;
}

.ui-simple-tel-input .iti__country {
  padding: 11px 17px;
  outline: 0;
  font-size: 13px;
  color: inherit;
  font-weight: 500;
}

.ui-simple-tel-input .iti__country:hover,
.ui-simple-tel-input .iti__country:focus,
.ui-simple-tel-input .iti__country.iti__highlight {
  background: var(--ui-neutral-100);
}

.ui-simple-tel-input .iti__country-name, .iti__flag-box {
  margin-right: 12px;
}

.ui-simple-tel-input .iti__divider {
  margin: 0;
  padding: 0;
  border-color: var(--ui-neutral-300);
}

/* 5.5 TELEPHONE-INPUT */

.ui-country-select {
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
}


.ui-country-select .iti--allow-dropdown:not(.iti--separate-dial-code) .ui-country-select__input {
  padding-left: 47px !important;
}

.ui-country-select__input {
  width: 100%;
  border-radius: 5px;
  border: solid 1px var(--ui-neutral-300);
  background-color: var(--ui-white);
  color: inherit;
  padding-top: 11px !important;
  padding-bottom: 11px !important;
  padding-right: 17px !important;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  outline: none;
  box-shadow: var(--ui-shadow-100);
  transition: .2s all;
}

.ui-country-select:focus-within .ui-country-select__input,
.ui-country-select__input:focus {
  border-color: var(--ui-primary-200);
}

.ui-country-select__input::placeholder, /* Chrome, Firefox, Opera, Safari 10.1+ */
.ui-country-select__input:-ms-input-placeholder, /* Internet Explorer 10-11 */
.ui-country-select__input::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--ui-neutral-400);
}

.ui-country-select .iti {
  width: 100%;
}

.ui-country-select .iti__flag-container {
  right: 0;
  width: 100%;
}

.ui-country-select .iti__selected-flag {
  padding-left: 17px;
  outline: none;
}

.ui-country-select .iti__arrow {
  display: none;
}

.ui-country-select .iti--separate-dial-code .iti__selected-flag,
.ui-country-select .iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
  background: transparent;
  font-size: 13px;
  font-weight: 500;
  color: var(--ui-neutral-400);
}

.ui-country-select .iti__dial-code,
.ui-country-select__country-list .iti__dial-code {
  display: none;
}

.ui-country-select .iti__flag-container {
  right: 0;
  width: 100%;
}

.ui-country-select .iti__country-list {
  box-shadow: var(--ui-shadow-300);
  border: 1px solid var(--ui-neutral-300);
  border-radius: 5px;
  margin-top: 6px;
  transform-origin: top left;
  width: 100%;
  display: block !important;
  visibility: visible;
  opacity: 1;
  transition: .3s all;
}

.ui-country-select .iti__hide {
  visibility: hidden;
  opacity: 0;
}

.ui-country-select .iti__country {
  padding: 11px 17px;
  outline: 0;
  font-size: 13px;
  line-height: 1.5;
  color: inherit;
  font-weight: 500;
  white-space: break-spaces;
}

.ui-country-select .iti__country:hover,
.ui-country-select .iti__country:focus,
.ui-country-select .iti__country.iti__highlight {
  background: var(--ui-neutral-100);
}

.ui-country-select .iti__country-name, .iti__flag-box {
  margin-right: 11px !important;
}

.ui-country-select .iti__divider {
  margin: 0;
  padding: 0;
  border-color: var(--ui-neutral-300);
}

/* 5.6 COPY TO CLIPBOARD INPUT */

/* 5.1 SIMPLE-INPUT */

.ui-copy-input {
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
}

.ui-copy-input__input {
  width: 100%;
  border-radius: 5px;
  border: solid 1px var(--ui-neutral-300);
  background-color: var(--ui-white);
  color: inherit;
  padding: 11px 17px;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  outline: none;
  box-shadow: var(--ui-shadow-100);
  transition: .2s all;
}

.ui-copy-input__input:focus {
  border-color: var(--ui-primary-200);
}

.ui-copy-input__input::placeholder, /* Chrome, Firefox, Opera, Safari 10.1+ */
.ui-copy-input__input:-ms-input-placeholder, /* Internet Explorer 10-11 */
.ui-copy-input__input::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--ui-neutral-400);
}

.ui-copy-input__copy-btn {
  position: absolute;
  inset: 7.4px;
  left: auto;
  width: 29px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--ui-neutral-300);
  color: var(--ui-neutral-400);
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: .2s all;
}

.ui-copy-input:focus-within .ui-copy-input__copy-btn,
.ui-copy-input__copy-btn:focus,
.ui-copy-input__copy-btn:hover {
  color: var(--ui-primary-200__invert);
  background: var(--ui-primary-200);
}

/* 5.7 INPUT-GROUP FOR ICONS */

.ui-input-icon-group {
  width: 100%;
  display: flex;
  position: relative;
  --ui-normal-label-input__icon--width: 47px;
}

.ui-input-icon-group input {
  padding-left: var(--ui-normal-label-input__icon--width);
}

.ui-input-icon-group__icon {
  position: absolute;
  inset: 1px;
  right: auto;
  color: var(--ui-neutral-400);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--ui-normal-label-input__icon--width);
  height: 100%;
  transition: .2s all;
}

.ui-simple-input:focus-within .ui-input-icon-group__icon,
.ui-small-label-input:focus-within .ui-input-icon-group__icon,
.ui-normal-label-input:focus-within .ui-input-icon-group__icon {
  color: var(--ui-primary-200);
}

/* 6.1 NORMAL-SELECT */

.ui-simple-select {
  display: inline-block;
  position: relative;
}

.ui-simple-select__select {
  width: 100%;
  border-radius: 5px;
  border: solid 1px var(--ui-neutral-300);
  background-color: var(--ui-white);
  color: inherit;
  padding: 11px 25px 11px 17px;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  outline: none;
  box-shadow: var(--ui-shadow-100);
  cursor: pointer;
  transition: .2s all;
}

.ui-simple-select__select:focus {
  border-color: var(--ui-primary-200);
}

.ui-simple-select__icon {
  position: absolute;
  inset: 1px;
  left: auto;
  color: var(--ui-neutral-400);
  background: var(--ui-white);
  padding: 11px 17px 11px 0;
  border-radius: 5px;
  color: inherit;
  pointer-events: none;
  line-height: 1.7;
  transition: .2s all;
}

.ui-simple-select:focus-within .ui-simple-select__icon {
  color: var(--ui-primary-200);
}

/* 6.2 NORMAL-SELECT */

.ui-small-label-select {
  display: inline-block;
  position: relative;
}

.ui-small-label-select__label {
  position: absolute;
  left: 17px;
  top: -8px;
  color: var(--ui-neutral-400);
  background: var(--ui-white);
  padding: 0 3px;
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  transition: .2s all;
  z-index: 1;
}

.ui-small-label-select:focus-within .ui-small-label-select__label {
  color: var(--ui-primary-200);
}

.ui-small-label-select__select {
  width: 100%;
  border-radius: 5px;
  border: solid 1px var(--ui-neutral-300);
  background-color: var(--ui-white);
  color: inherit;
  padding: 11px 40px 11px 17px;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  outline: none;
  box-shadow: var(--ui-shadow-100);
  cursor: pointer;
  transition: .2s all;
}

.ui-small-label-select__select:focus {
  border-color: var(--ui-primary-200);
}

.ui-small-label-select__icon {
  position: absolute;
  inset: 1px;
  left: auto;
  color: var(--ui-neutral-400);
  background: var(--ui-white);
  padding: 11px 17px 11px 0;
  border-radius: 5px;
  color: inherit;
  pointer-events: none;
  line-height: 1.7;
  transition: .2s all;
}

.ui-small-label-select:focus-within .ui-small-label-select__icon {
  color: var(--ui-primary-200);
}


/* 4. SWITCH */

.ui-switch {
  font-size: 1em;
  position: relative;
  --switch-background--default: var(--ui-neutral-300);
  --switch-btn-background: var(--ui-white);
  --switch-background--checked: var(--ui-primary-200);
  --switch-background--disabled: var(--ui-neutral-400);
}
.ui-switch input {
  position: absolute;
  height: 1px;
  width: 1px;
  background: none;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  padding: 0;
}
.ui-switch input + label {
  position: relative;
  min-width: calc(calc(2.375em * .8) * 2);
  border-radius: calc(2.375em * .8);
  height: calc(2.375em * .8);
  line-height: calc(2.375em * .8);
  display: inline-block;
  cursor: pointer;
  outline: none;
  user-select: none;
  vertical-align: middle;
  text-indent: calc(calc(calc(2.375em * .8) * 2) + .5em);
}
.ui-switch input + label::before,
.ui-switch input + label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(calc(2.375em * .8) * 2);
  bottom: 0;
  display: block;
}
.ui-switch input + label::before {
  right: 0;
  background-color: var(--switch-background--default);
  border-radius: calc(2.375em * .8);
  transition: 0.2s all;
}
.ui-switch input + label::after {
  top: .25em;
  left: .25em;
  width: calc(calc(2.375em * .8) - calc(.25em * 2));
  height: calc(calc(2.375em * .8) - calc(.25em * 2));
  border-radius: 50%;
  background-color: var(--switch-btn-background);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.45);
  transition: 0.2s all;
}
.ui-switch input:checked + label::before {
  background-color: var(--switch-background--checked);
}
.ui-switch input:checked + label::after {
  margin-left: calc(2.375em * .8);
}
.ui-switch input:focus + label::before {
  outline: none;
}
.ui-switch input:disabled + label {
  color: var(--ui-neutral-500);
  cursor: not-allowed;
}
.ui-switch input:disabled + label::before {
  background-color: var(--switch-background--disabled);
}
.ui-switch + .ui-switch {
  margin-left: 1em;
}

/* TAGS INPUT */

.ui-tags-input__input {
  width: 100%;
  border-radius: 5px;
  border: solid 1px var(--ui-neutral-300);
  background-color: var(--ui-white);
  color: inherit;
  padding: 11px 17px;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  outline: none;
  box-shadow: var(--ui-shadow-100);
  transition: .2s all;
}

.ui-tags-input__input:focus {
  border-color: var(--ui-primary-200);
}

.ui-tags-input .tagify {
  align-items: center !important;
  padding: 11px 17px 3px 17px !important;
}

.ui-tags-input .tagify__tag {
  margin: 0 11px 11px 0 !important;
  background: var(--ui-neutral-200) !important;
  color: var(--ui-neutral-400) !important;
  border-radius: 10rem;
}

.ui-tags-input .tagify__tag:last-of-type {
  margin-right: 0 !important;
}

.ui-tags-input .tagify__tag__removeBtn {
  padding-right: 10px !important;
  margin: 0 !important;
}

.ui-tags-input .tagify__tag > div {
  padding: 6px 6px 6px 10px !important;
}

.ui-tags-input .tagify__tag > div::before {
  display: none !important;
}

.ui-tags-input .tagify__tag__removeBtn::before,
.ui-tags-input .tagify__tag__removeBtn::after,
.ui-tags-input .tagify__tag-text {
  color: var(--ui-neutral-400) !important;
}

.ui-tags-input .tagify__tag__removeBtn {
  padding-right: 10px !important;
  background: none !important;
  position: relative;
}

.ui-tags-input .tagify__tag__removeBtn:hover,
.ui-tags-input .tagify__tag__removeBtn:focus {
  background: none !important;
}

.ui-tags-input .tagify__tag__removeBtn::before,
.ui-tags-input .tagify__tag__removeBtn::after {
  content: '' !important;
  position: absolute;
  left: 6px !important;
  height: 9px;
  width: 1px;
  background: currentColor;
}

.ui-tags-input .tagify__tag__removeBtn::before {
  transform: rotate(45deg);
}

.ui-tags-input .tagify__tag__removeBtn::after {
  transform: rotate(-45deg);
}

.ui-tags-input .tagify__input {
  margin: 0 0 8px 0!important;
  padding: 0px !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: 1.54 !important;
}

.ui-tags-input .tagify__tag:last-of-type ~ .tagify__input {
  padding: 0 10px !important;
}

.ui-tags-input .tagify__input::before,
.ui-tags-input .tagify__input:empty::before {
  height: auto !important;
  line-height: 1.54 !important;
  color: var(--ui-neutral-500) !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}
